.header__cont{
    height: 47vh;
}
.top__nav{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    padding: 5px;
   
}
.main__nav{
    /* border: 2px solid black; */
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.main__nav h1{
    font-family: 'Noto Sans';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 50px;
    line-height: 44px;
    color: #161A33;
}
.main__nav p{
    font-family: 'Noto Sans';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    margin-top: -20px;
    color: #161A33;
}
.middle__nav{
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: -40px auto;
    display: flex;
    justify-content: space-between;
}
.middle__nav h3{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    color: #161A33;
    margin-top: 8rem;
}
.image__side{
    position: relative;
    width: 30%;
}
.image__side, .img1{
    height: 147px;
    position: absolute;
    right: 220px;
    z-index: 1;
    top: 110px;
}
.image__side, .img2{
    position: absolute;
    right: 230px;
    height: 157px;
    top: 77px;
}

/* media query */
@media (min-width: 760px) and (max-width: 1200px) {
    
    .main__nav h1{
        font-size: 50px;
        margin-left: 15px;
    }
    .main__nav p{
        font-size: 20px;
        margin-left: 15px;
    }
    .middle__nav h3{
        font-size: 20px;
        margin-left: 15px;
    }
    .image__side, .img1{
        width: 176px;
        height: 190px;
        left: 200px;
        top: 100px;
    }
    .image__side, .img2{
        width: 186px;
        height: 195px;
        top: 77px;
        left: 230px;
    }
}
@media (min-width: 300px) and (max-width: 450px) {
    .header__cont{
        height: 37vh;
    }
    .main__nav h1{
        font-size: 32px;
        margin-left: 15px;
    }
    .main__nav p{
        font-size: 16px;
        margin-left: 15px;
    }
    .middle__nav h3{
        font-size: 16px;
        margin-left: 15px;
    }
    .image__side, .img1{
        height: 165px;
        left: 90px;
        top: 80px;
    }
    .image__side, .img2{
        width: 186px;
        height: 190px;
        top: 29px;
        left: 100px;
    }
}