.card__container{
    /* border: 2px solid rgb(221, 83, 83); */
    height: 13rem;
    width: 100%;
    max-width: 170px;
    background: #FFF;
    border-radius: 5px;
    margin: 10px;
}

.img__cont{
    width: 100%;
    height: 47%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.img__cont img{
    /* min-height: 20%; */
    /* width: 100%; */
    height: 100%;
    object-fit: fit;
}
.card__container h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin: 13px 10px 0px;
    color: #6B6B6B;
}
.card__container h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    margin-left: 10px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
}
.card__container p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    margin: -5px 10px;
    font-size: 16px;
    line-height: 16px;
    color: #6B6B6B;
}

/* style for favourite card container */
.fav__cont{
    background: #E8E8E8;
    margin: auto;
    width: 100%;
    max-width: 950px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
 }

@media (min-width: 800px) and (max-width: 1200px) {
    .card__container{
      max-width: 180px;
      height: 25vh;
      margin-top: 10px;
    }
    .card__container h5,p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .card__container h1{
        font-size: 14px;
    }
}
@media (min-width: 300px) and (max-width: 450px) {
    .card__container{
      max-width: 110px;
      height: 25vh;
      margin-right: 4px;
    }
    .card__container h5,p{
        font-size: 12px;
        margin-bottom: -12px;
    }
    .card__container h1{
        font-size: 14px;
    }
}